* {
  margin: 0;
  padding: 0;
  color: darkred;
  font-style: oblique;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(/public/how-to-create-a-design-portfolio.jpg);
  background-blend-mode: color-dodge;
  background-color: rgb(11, 92, 213);
  background-size: contain;
}
header {
  background-image: url(/public/how-to-create-a-design-portfolio.jpg);
  background-blend-mode: overlay;
  background-color: rgba(255, 0, 0, 0.603);
  border-radius: 0px 0px 25px 45px;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: right;
  padding: 12px;
}

.text {
  text-align: right;
}

#id_projects {
  margin-left: 18%;
}

#face {
  height: 36px;
  display: flex;
  margin-left: 24px;
  margin-top: 12px;
}

.AboutSection {
  margin-bottom: 100px;
}

.projectspadding {
  margin-top: 20%;
}

.footersection {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.text {
  margin-left: 900px;
  text-align: right;
}

.projecttext {
  display: flex;
  text-align: right;
}
#about {
  text-align: center;
  margin-right: 60%;
}
#hello {
  text-align: center;
  margin-right: 50%;
}

.description {
  text-align: right;
  padding-top: 20px;
  margin: 25px 50px -25px;
}

.flip-card {
  width: 500px;
  height: 300px;
  border-radius: 25px 25px 25px 25px;
  position: static;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px 25px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px 25px 25px;
}

.flip-card-front {
  background-color: blue;
  color: black;
  border-radius: 25px 25px 25px;
}

.flip-card-back {
  background-blend-mode: overlay;
  background-image: url(/public/Confidence.jpg);
  background-color: lightblue;
  color: whitesmoke;
  transform: rotateY(180deg);
}

#navigation {
  color: blue;
  text-decoration: dotted;
}

#projects {
  color: blue;
  text-decoration: dotted;
  text-align: right;
}

#resume {
  color: blue;
  text-decoration: dotted;
}

#resume:hover {
  color: yellowgreen;
  text-decoration: dotted;
}
#navigation:hover {
  color: yellowgreen;
  text-decoration: dotted;
}

#projects:hover {
  color: yellowgreen;
  text-decoration: dotted;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.603);
  border-radius: 50px 50px 0px 0px;
  background-blend-mode: overlay;
  padding: 12px;
  background-image: url(/public/how-to-create-a-design-portfolio.jpg);
}

#github {
  margin-left: 42%;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}

@media screen and (min-width: 50%) {
  .body .header {
    width: min-content;
  }
}

#linkedin {
  margin-left: 1.1%;
  height: 40px;
}

#resume-title {
  border: 4px red solid;
  width:22%;
  color: darkred;
  background-color: rgb(0, 145, 255);
  margin-left: 34vh;
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

#resume-title:hover {
  cursor:pointer;
}

#arrow {
margin-left: 60vh
  
}